<template>
    <main class="p-10">
        <h1 class="text-2xl font-bold">Let's talk about <span class="text-green-500 text-5xl">THING</span></h1>

        <footer class="mt-5 text-sm text-gray-400">
            <p class="">
                Want to learn more?
            </p>

            <p class="">
                Visit <a class="font-bold text-red-400" href="https://devops.cash" target="_blank">Cash DevOps</a> for a deeper dive into this topic..
            </p>
        </footer>
    </main>
</template>

<script>

</script>
